body {
    margin: 0px;
    padding: 0px;
    background-color: #03224c;
}

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 480px;
    text-align: center;

}

h1 {
    background-color: #7ec0ee;
    margin: 0;
    margin-top: 20px;
}

#paint {
    height: 480px;
    /* height: auto; */
    background-color: #ffffff;
}

.form {
    background-color: #7ec0ee;
    padding: 10px 0;
}

.resultat {
    margin-top: "10px";
    border: "solid black 2px";
    background-color: "white";
    text-align: "center";
}

.resultatTitre {
    font-size: "2em";
    background-color: "#7ec0ee";
}

.resultatImage {}